RewriteEngine On

RewriteCond %{THE_REQUEST} \s/+rastomed/([^?\s]+)\.php(?:[?\s]|$) [NC]
RewriteCond %{REQUEST_URI} !^/rastomed/manager/ [NC]
RewriteRule ^(.+)\.php$ /rastomed/$1 [R=301,L,NE]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^manager/(.+?)/?$ manager/$1.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^product-details/(.+?)/?$ product-details.php?product=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^includes/(.+?)/?$ includes/$1.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+?)/?$ page.php?slug=$1 [QSA,L]

ErrorDocument 404 /rastomed/404.php
